body {
  background-color: rgb(8, 0, 0);
  margin: 0px;
  font-family: serif;
  font-weight: normal;
  text-transform: uppercase;
}

.square {
  width: 30%;
  background: white;
  padding-bottom: 30%;
  float: left;
  transition: all 1s ease-out;
  border-radius: 50%;
  margin: 1.66%
}

#container {
  margin: 20px auto;
  max-width: 600px;
}

h1 {
  color: white;
  line-height: 1.5;
  text-align: center;
  background-color: rgb(9, 77, 77);
  margin: 0;
  padding: 20px 0;
}

#stripe {
  background: rgb(250, 247, 247);
  height: 30px;
  text-align: center;
  color: rgb(250, 231, 231);
  border-style: double;
  border-width: 3px;
  border-color: aqua;
}

.selected {
  color: white;
  background:rgb(6, 153, 153);
}

#rgbCode {
  font-size: 200%;
}

button {
  border: double;
  border-radius: 50%;
  background: black;
  text-transform: uppercase;
  font-family: sans-serif;
  height: 100%;
  font-weight: 700;
  color: rgb(117, 129, 236);
  letter-spacing: 1px;
  font-size: auto;
  transition: all .7s ease-out;
  outline: none;
  
}

button:hover {
  color: antiquewhite;
  background: rgb(72, 255, 0);
}

#message {
  display: inline-block;
  width: 20%;
}
